.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593); */
    background: linear-gradient(to right, #07c92b, #36d897, #3687de, #0834e2);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593); */
    background: linear-gradient(to right, #07c92b, #36d897, #3687de, #0834e2);
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
}
.footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:100px;   /* Height of the footer */
    /* background:#6cf; */
    margin-bottom: 0px;
}

html,
body {
    margin:0;
    padding:0;
    height:100%;
}